<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Moduł kształcenia</h1>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {{isEditMode() ? "Edytuj moduł kształcenia" : "Dodaj nowy moduł kształcenia"}}

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">

                <form>
                    <div class="form-group">
                        <label>Nazwa</label>
                        <input type="text" class="form-control" ng-model="modul.nazwaModulu">
                    </div>
                    <div class="form-group">
                        <label class="radio control-label">Typ</label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="modul.typ" value="Obowiazkowy"> Obowiązkowy
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2"ng-model="modul.typ" value="Opcjonalny"> Wybieralny
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Profil</label>
                        <select class="form-control" ng-model="modul.profil_modulu_id" >
                            <option ng-repeat="profil in profile"  value="{{profil.id}}">{{ profil.nazwa }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Minimum punktów ECTS dla modelu</label>
                        <input type="number" min="1" max="30" ng-model="modul.minEcts" class="form-control">
                    </div>

                    <button ng-click="submit()" type="submit" class="btn btn-success">{{'program_studiow_btn_save' | translate}}</button>
                    <button  ng-click="reset()" class="btn btn-danger">Reset</button>

                </form>

            </div>
        </div>
        <div class="alert alert-success" collapse="isSaveAlertCollapsed">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Zmiany zostały zapisane!</strong>
        </div>
           </div>
</div>
