<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{'przedmiot_ksztalcenia_title' | translate}}</h1>
    </div>
</div>
<div class="col-lg-8" ng-show="!vm.error">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'przedmiot_ksztalcenia_title' | translate}}: {{vm.przedmiot.nazwaPrzedmiotu}}
        </div>
        <!-- /.panel-heading -->

        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td>{{'przedmioty_ksztalcenia_name' | translate}}</td>
                    <td>{{vm.przedmiot.nazwaPrzedmiotu}}</td>
                </tr>
                <tr>
                    <td>{{'przedmioty_ksztalcenia_attendant' | translate}}</td>
                    <td>{{vm.przedmiot.opiekunPrzedmiotu}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel -->
</div>

<div class="col-lg-4" ng-show="!vm.error">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'przedmiot_ksztalcenia_actions' | translate}}
        </div>
        <!-- /.panel-heading -->
        <a class="btn btn-default">Edytuj</a><br/>
        <a class="btn btn-default">Usuń?</a>

    </div>
    <!-- /.panel -->
</div>

<div class="col-lg-12" ng-show="!vm.error">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{'przedmiot_ksztalcenia_kursy' | translate}}
        </div>
        <!-- /.panel-heading -->

        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td></td>
                    <td ng-repeat="kurs in vm.kursy">{{kurs.formaKursu}}</td>
                </tr>
                <tr ng-repeat="property in vm.properties">
                    <td>{{('przedmiot_ksztalcenia_label_' + property) | translate}}</td>
                    <td ng-repeat="kurs in vm.kursy">{{kurs[property]}}</td>
                </tr>
                <tr>
                    <td>Edytuj</td>
                    <td ng-repeat="kurs in vm.kursy"><a class="btn btn-default" ui-sref="zajecie(kurs.id)">Edytuj</a></td>
                </tr>
                <tr>
                    <td>Usuń</td>
                    <td ng-repeat="kurs in vm.kursy"><button class="btn btn-default" ng-click="vm.deleteZajecie(kurs.id)">Usun</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel -->
</div>
