<p>
  <sup>1</sup> - wykład<br />
  <sup>2</sup> - ćwiczenia<br />
  <sup>3</sup> - laboratorium<br />
  <sup>4</sup> - projekt<br />
  <sup>5</sup> - seminarium<br />
  <sup>6</sup> - praktyka<br />
  <sup>7</sup> - praca dyplomowa<br />
  <sup>8</sup> - zajęcia bezpośredniego kontaktu<br />
  <sup>9</sup> - zajęcia praktyczne<br />
  <sup>10</sup> - czy ogólnouczelniany
</p>