// Place all the styles related to the ProgramyStudiow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div{
  font-family: "Arial";
  font-size: large;
  margin-bottom: 30px;
  border-bottom-style: groove;

}
label{
  font-style: italic;
  display: block;
  margin-bottom: 10px;
}
h1{
  text-align: center;
  margin-bottom: 40px;

}

table, th, td {
  border: solid black 1px;
}

.kursy {
  margin-left: -100px;
}